<!-- ============== Footer markup ===========-->


<footer class="page-footer font-small mdb-color darken-3 pt-4 bg">
  <div class="container">

    <div class="row">

      <div class="footer-copyright col-lg-4 col-sm-6 col-xs-12  text-center py-2">
        <span class="font-weight-bold text-white">2021©Copyright issues: Antino Labs </span>
      </div>

      <div class="col-lg-4 col-sm-6 col-xs-12 text-center py-2">
        <span style="color: white; font-weight: bold;">Made with
          <i class="fa fa-heart"></i> by Tauheed Shahid
        </span>
      </div>

      <div class="col-lg-4 col-sm-6 col-xs-12 text-center py-2 icon">

        <h6 class="font-weight-bold text-white">Find me on</h6>

        <a target="_blank" title="Linkedin" href="https://www.linkedin.com/in/thacker-shahid"><i
            class="fa fa-1x fa-linkedin"></i></a>
        <a target="_blank" title="Github" href="https://github.com/thacker-shahid"><i
            class="fa fa-1x fa-github"></i></a>
      </div>

    </div>
  </div>

</footer>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
</script>

</body>

</html>