<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>
    Antino Labs
  </title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="/css/all.min.css">
  <link rel="stylesheet" href="/public/CSS/style.css">

</head>

<body>
  <!-- =========== Navbar ===========-->

  <nav class="navbar navbar-expand-lg bg navbar-dark" id="navig">

    <a class="navbar-brand font-weight-bold text-uppercase" style="color: white;" href="#">
      Antino Labs
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <ul class="navbar-nav text-uppercase ml-auto">
        <form action="/search" method="POST" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" name="productID" type="search" placeholder="Search Product by id" aria-label="Search">

          <div class="searchbutton">
            <button class="searchbutton btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </div>
        </form>

        <% if(user!= undefined && user.type == 'admin') {%>

        <li class="nav-item">
          <a class="nav-link" href="/add-products">Add Products</a>
        </li>

        <% } %>

        <% if(!user) { %>

        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/register">SignUp</a>
        </li>

        <% } else {%>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Hello <%= user.username %>
            </a>
  
            <div class="dropdown-menu dropdown_menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>

        <% } %>
      </ul>

    </div>
  </nav>