<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Tauheed Shahid</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="/css/all.min.css">
  <link rel="stylesheet" href="/public/CSS/style.css">

</head>

<body>
  <!-- =========== Navbar ===========-->

  <nav class="navbar navbar-expand-lg bg navbar-light" id="navig">

    <a class="navbar-brand font-weight-bold text-uppercase" style="color: white;" href="#">Tauheed Shahid
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <ul class="navbar-nav text-uppercase ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/register">SignUp</a>
        </li>

      </ul>

    </div>
  </nav>




  <section class="sect">

    <div class="m-5 text-center">
      <h1>Enter New Password</h1>
    </div>

    <div class="container mt-5">

      <div class="card" style="width: 100%;">
        <div class="card-body">

          <form action="/enterNewPasswordPage?email=<%= forgotpasswordUserEmail %>" method="POST">

            <label for="exampleInputUsername1">Enter New Password:</label>
            <input type="password" name="newPassword" placeholder="Enter New Password" id="exampleInputUsername1"
              class="form-control">
            <br>

            <label for="exampleInputUsername2">Re-Enter New Password:</label>
            <input type="password" name="Re_enterNewPassword" placeholder="Re-Enter New Password"
              id="exampleInputUsername2" class="form-control">

            <div class="contactbutton m-5">
              <button type="submit" class="btn btn-primary">Submit New Password</button>
            </div>

          </form>

        </div>
      </div>

    </div>

  </section>
  <br><br>

  <%- include("./partials/footer")%>